@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Red Hat Display", sans-serif;
	background-image: url("/images/pattern-background-desktop.svg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	background-color: hsl(225, 100%, 94%);
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh; */
}
#container {
	max-width: 375px;
	/* max-width: 1440px; */
	margin: 10vh auto 0;
}
.card {
	border-radius: 30px;
	background-color: white;
	padding-bottom: 30px;
	box-shadow: 0px 10px 8px hsla(224, 23%, 55%, 0.15);
}
.card_details {
	max-width: 320px;
	margin: 0 auto;
}
img.hero {
	width: 100%;
	object-fit: cover;
	border-radius: 30px 30px 0 0;
}
header {
	font-size: 24px;
	font-weight: 900;
	text-align: center;
	padding-top: 24px;
	color: hsl(223, 47%, 23%);
}
p {
	margin-top: 20px;
	font-size: 16px;
	text-align: center;
	font-weight: 500;
	color: hsl(224, 23%, 55%);
	line-height: 1.5;
	padding: 0 15px;
}
.pricing_card {
	width: 100%;
	padding: 20px;
	margin: 30px auto;
	display: flex;
	background-color: hsl(225, 100%, 98%);
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
}
.pricing_plan {
	display: flex;
	align-items: center;
	justify-content: center;
}
.pricing_plan img {
	margin-right: 20px;
}
.pricing {
	display: flex;
	flex-direction: column;
}
.price_header {
	color: hsl(223, 47%, 23%);
	font-weight: 900;
	margin-bottom: 5px;
}
.price {
	color: hsl(224, 23%, 55%);
}
.pricing_card a {
	color: hsla(245, 75%, 52%);
	font-weight: 900;
}
.pricing_card a:hover,
.pricing_card a:focus {
	text-decoration: none;
	color: hsla(245, 75%, 52%, 0.8);
}
button {
	display: block;
	border: none;
	width: 100%;
	border-radius: 10px;
	height: 56px;
	margin-top: 15px;
	font-weight: 900;
	cursor: pointer;
	font-size: inherit;
	font-family: inherit;
}
.dark {
	background-color: hsl(245, 75%, 52%);
	color: white;
	box-shadow: 0px 15px 10px 2px hsl(228, 91%, 96%);
	margin-bottom: 20px;
}
.dark:focus,
.dark:hover {
	background-color: hsla(245, 75%, 52%, 0.8);
}
.light {
	background-color: white;
	color: hsl(224, 23%, 55%);
}
.light:hover,
.light:focus {
	color: hsl(223, 47%, 23%);
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 50px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
